h1 {
  font-family: "Digital tech", "Press Start 2P", sans-serif;
  color: rgb(184, 172, 118);
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 100;
  margin-bottom: -4px;
  margin-left: 5px;
  margin-top: 80px;
}

h2 {
  font-family: "Roboto Mono", monospace;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
}

h3 {
  font-size: 24px;
  color: #679b9b;
  font-family: "Digital tech", "Press Start 2P", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

h4 {
  font-size: 24px;
  color: #679b9b;
  font-family: "Digital tech", "Press Start 2P", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

footer {
  padding-top: 15px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

div.page-container {
  max-width: 1080px;
  height: fit-content;
}

p {
  font-size: 10px;
  padding-top: 5px;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
}

p.text-about-1 {
  font-size: 12px;
  width: 300px;
  align-content: right;
  position: absolute;
  top: 170px;
  left: 550px;
}

p.text-about-2 {
  font-size: 12px;
  width: 300px;
  position: absolute;
  top: 360px;
  left: 850px;
}

p.text-about-3 {
  font-size: 12px;
  width: 200px;
  align-content: right;
  top: 600px;
  left: 600px;
  position: absolute;
}

p.p-project {
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  padding-top: 0;
  font-style: italic;
}

a.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #679b9b;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  border: 1px solid #679b9b;
  border-radius: 10px;
  align-content: center;
  padding-left: 10px;
}

a.nav-link:hover {
  text-decoration: none;
  background-color: #679b9b;
  color: #e7e7db;
}

a.project-link {
  text-transform: uppercase;
  color: #679b9b;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  text-decoration: none;
}

a.project-link:hover {
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
  color: #679b9b;
}

.img {
  padding: 5px;
}

.button {
  padding: 10px;
  background-color: #679b9b;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  color: #fff;
  margin: 5px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.button:hover {
  background-color: #517979a6;
  cursor: pointer;
}

form {
  font-family: "Work Sans", sans-serif;
  display: inline-block;
}

.contact-form {
  margin: 5px;
  padding: 5px;
  width: 500px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.icon {
  color: rgb(105, 39, 11);
  font-size: 32px;
  padding: 5px;
}

.icon:hover {
  color: rgb(187, 79, 32);
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.home-img {
  max-width: 1080px;
}

.img-about-1 {
  position: absolute;
  top: 340px;
  left: 600px;
}

.img-about-2 {
  position: absolute;
  top: 640px;
  left: 850px;
}

@media only screen and (max-width: 1280px) {
  .home-img {
    max-width: 900px;
  }

  .nav-link {
    font-size: 22px;
    margin: 5px;
  }
}

.contact-container {
  display: flex;
}
