body {
  font-family: "Roboto Mono", monospace;
  background: #e7e7db;
  background-size: cover;
  margin: 0 auto;
  max-width: 1080px;
}

code {
  font-family: "Roboto Mono", monospace;
}

ul.link-list li {
  display: flex;
}

ul.link-list {
  display: flex;
  position: fixed;
  top: 0px;
  background: #e7e7db;
  width: 1070px;
  border-bottom: 1px solid #679b9b;
  border-top: 1px solid #679b9b;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

ul.link-list li a {
  padding-right: 10px;
}

@media only screen and (max-width: 1280px) {
  ul.link-list {
    display: table;
  }
}
